page-register {
    ion-content{
   
       background:url("../../assets/imgs/first\ sprint0.png");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    

    }
    .button{
        width: 100%;
        position: relative;
        top: 5px;
    }
    .signin-icons{
        position: relative;
        bottom: -110px;
        text-align: center;
        right: -25%;
    }
    .sign-with{
        position: relative;
        top: 120px;
        text-align: center;
    }
    p{
        font-weight: bold;
    }
    .logo{
        position: relative;
        text-align: center;
        top: 50px;
    }
    .main{
        height: auto;
        position: relative;
        top: 40px;
    }
    .inputs{
        position: relative;
        top: 120px;
        height: auto;
    
    }
    ion-icon{
        margin-right: 6px;

    }

   
    img{
        width: 50px;


    }
    h1{
        position: absolute;
        font-size: 5em;
        text-align: center;
        top: 25%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #1e6ef7;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    p{
        position: absolute;
        font-size: 15px;
        top: 25px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #1e6ef7;
        font-family: cursive
    }

   

}
    
