page-register {
    ion-content{
   
       background:url("../../assets/imgs/first\ sprint1.png");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    

    }
    .button{
        width: 100%;
        position: relative;
        top: 5px;
    }
    .signin-icons{
        position: relative;
        bottom: -110px;
        text-align: center;
        right: -25%;
    }
    .sign-with{
        position: relative;
        top: 120px;
        text-align: center;
    }
    p{
        font-weight: bold;
    }
    .logo{
        position: relative;
        text-align: center;
        top: 50px;
    }
    .main{
        height: auto;
    }
    .inputs{
        position: relative;
        top: 120px;
        height: auto;
    
    }
    ion-icon{
        margin-right: 6px;

    }

   
    img{
        width: 50px;


    }

   

}
    
