page-register {
    .ion-content{
        // background-color: black;
    }
    .button{
        width: 100%;
       
    }
    .grid{
        position: relative;
        left: 50%;
    }
    .sigin-with{
        position: relative;
        top: 45px;
        left: 10%;
        font-size: 20px;
        font-weight: bold;
    }
}
    
