page-message {
    .list-ios > .item-block:first-child{
        border-top: 0.55px solid rgba(0, 0, 0, 0);
    }
    .body{
        position: relative;
    }
 
    .item{
        position: relative;
        top: 10px;
        margin-top: 8%;

    }
    .top{
        position: relative;
        top: 40px;
        padding-left: 7%;
        padding-right: 7%;
        
    }
    h1{
        position: relative;
        top: 20px;
        color: rgb(168, 164, 164);
        text-align: center;
        font-size: 2em;  
        font-family: cursive;
        margin-top: 10%;
        // text-shadow: 2px 2px black
        
    }
    .buttons{
        position: relative;
        top: 100px;
        padding-left: 25px;
        padding-right: 25px;
        
    }
    .btn{
        height: 35px;
    }
    ion-icon{
     font-size: 40px;
    }

    
 
    
}
