page-profile {
    img {
        width:120px;
        height:120px;
        margin:0 auto;
        border-radius:60%;
        overflow:hidden;
      }
      
      .header{
        text-align: center;
      }
      .ion-note{
      text-align: center;
      display:block;
      }
      .fab-md{
        position: relative;
        top: -370px;
        left: 300%;
      
      
      
      }
      .fab{ $fab-size:6px;
       
      }
      
     
      
      
      
      
      
      
      
      
        

}
